@charset "UTF-8";
/* CSS Document */
* {
	box-sizing:border-box;
}

body {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (max-width:768px) {
  /* For tablets: */
	
} 
	@media only screen and (max-width:479px) {
  /* For mobile phones: */

}#header {
    background-color: #f2f2f2;
	padding: 15px;
    height: 100%;
    width: 100%;
}
#logo {
    float: left;
    height: 150px;
    width: 150px;
	
}
#content {
	background-color: #3c8ecd;
	padding: 15px;
	width: 100%;
}
#footer {
	 font-size: small;
	background-color: #f2f2f2;
	text-align: center;
}